
#  ENVIRONMENTS & SYSTEM FILES
.venv/
env/
__pycache__/
.DS_Store
.ipynb_checkpoints/
*.pyc


#  MODELS, RESULTS, PROCESSED DATA
# Ignore model artifacts but keep .gitkeep to keep folder structure
models/**
!models/.gitkeep

# Ignore results but keep folder visible
results/**
!results/.gitkeep

# Ignore processed data but keep folder visible
data/processed/**
!data/processed/.gitkeep


#  RAW DATA
# Track only raw data (and keep folder structure)
!data/raw/
!data/raw/**


#  OTHER LARGE FILES
*.joblib
*.pkl
*.log
*.tmp


#  PROJECT / EDITOR FILES
.vscode/
.idea/

